
@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico.ttf') format("truetype");
}


@font-face {
    font-family: 'Bebas Neue';
    src: url( "BebasNeue.otf") format("opentype");
}

@font-face {
    font-family: 'Colaborate Regular';
    src: url( "ColabReg.otf") format("opentype");
}

@font-face {
    font-family: 'Colaborate Bold';
    src: url( "ColabBol.otf") format("opentype");
}